importFromGithub.workflow.json
{
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "import-workflows",
          "authentication": "basicAuth",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -200,
          -45
        ],
        "id": "6dcae6fd-9631-4f73-985c-31c08cfba106",
        "name": "Webhook",
        "webhookId": "182bd0f4-bab3-4d3f-8341-773c2af24107",
        "credentials": {
          "httpBasicAuth": {
            "id": "0sXvlBjKe1sDOYj0",
            "name": "Github action user"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          900,
          -20
        ],
        "id": "62de08a4-db11-4602-9e4b-756fdecd2809",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "command": "mkdir -p workflows"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          20,
          -45
        ],
        "id": "faff0550-2ddd-4903-a2c2-c6081cf3098e",
        "name": "create workflows sub folder if not exist"
      },
      {
        "parameters": {
          "content": "# Github import\nThis webhook is secured with a basic authentication credential. Make sure to edit it to values you own.\n\nThe webhook receives the github owner and repository from whitch it should import the workflows.\n\nIt will download all json files into a local directory and call the n8n cli to import them.\n\nThere is a companion developement template on github that complements this flow, including the Github Action that can call this workflow. You can get it from here: https://github.com/dynamicNerdsSolutions/n8n-git-flow-template\n\n## First step :\nCreate the credentials for the webhook authentication and github.",
          "height": 500,
          "width": 520,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -740,
          -300
        ],
        "id": "2b9a3378-f36a-4a25-bcc1-82fa403b85a7",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "value": "={{ $('Webhook').item.json.body.owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Webhook').item.json.body.repository }}",
            "mode": "name"
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          240,
          -45
        ],
        "id": "9143f124-30b5-4a55-b3b7-03cd3c4fdfe8",
        "name": "List files from specified repo root",
        "webhookId": "b04d7d0c-b721-4d30-b4bd-29ed04f5ac9d",
        "credentials": {
          "githubApi": {
            "id": "Nx9eJjTiUfwyntOr",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          460,
          -40
        ],
        "id": "f28d4f42-e7a0-4a25-8d1e-44de3a04f11a",
        "name": "Loop Over Files"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "8ad03c7c-1820-4f9e-998c-a209cc829ea3",
                "leftValue": "={{ $json.type }}",
                "rightValue": "file",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "1a26b68e-91d6-468b-aed5-db0e4cee0f74",
                "leftValue": "={{ $json.name }}",
                "rightValue": ".json",
                "operator": {
                  "type": "string",
                  "operation": "endsWith"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          680,
          -120
        ],
        "id": "64d6aeac-bc11-4204-bea5-7f678fddf2b7",
        "name": "If it is a json file"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "={{ $('Webhook').item.json.body.owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Webhook').item.json.body.repository }}",
            "mode": "name"
          },
          "filePath": "={{ $json.path }}",
          "additionalParameters": {}
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          900,
          -220
        ],
        "id": "8c4f7bcc-0c3c-4333-a39e-51d29be43c87",
        "name": "Download file",
        "webhookId": "ec903eb1-d4be-4332-8e28-7f384479336a",
        "credentials": {
          "githubApi": {
            "id": "Nx9eJjTiUfwyntOr",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "=workflows/{{ $json.name }}",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          1140,
          -60
        ],
        "id": "27ee1e73-66d5-4c86-a6ea-6be4786bc97e",
        "name": "Store file locally"
      },
      {
        "parameters": {
          "command": "n8n import:workflow --separate --input=workflows && rm -f ./workflows/*.json"
        },
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [
          680,
          -320
        ],
        "id": "3a2a58ae-2f8f-447a-8a95-073d1f5575d6",
        "name": "Call n8n import and cleanup folder"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "create workflows sub folder if not exist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing": {
        "main": [
          [
            {
              "node": "Loop Over Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "create workflows sub folder if not exist": {
        "main": [
          [
            {
              "node": "List files from specified repo root",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files from specified repo root": {
        "main": [
          [
            {
              "node": "Loop Over Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Files": {
        "main": [
          [
            {
              "node": "Call n8n import and cleanup folder",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If it is a json file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If it is a json file": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Store file locally",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store file locally": {
        "main": [
          [
            {
              "node": "Loop Over Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }